.scrollable{
    overflow: auto;
}
.actionMenuAdmin{
    display: inline-block;
    float: right;
}
h1.header-title{
    display: inline-block;
}
.user-panel{
    padding: 26px;
    
}
/*.select2-container{
    width: 100% !important;
}*/
/*.select2-drop{
    width: auto !important;
}*/
.date-popover > div > input{
    min-width: 95px !important;
    
}
div.popover.in{
    z-index: 1050 !important;
}

.popover-style{
    
}

.input-popover> input , .input-popover> div > input , .input-popover> select {
    height: 20px !important;
}
.input-popover> div > span.input-group-addon {
   padding: 0px 12px;
}
.input-popover > div.help-block.error {
   font-size: 13px !important;
   margin-bottom: 0px !important; 
}
.input-popover > select {
  padding: 0px 12px !important;
}
.well-popover{
    margin-bottom: 10px;
}
.popover-content {
padding: 0px 14px !important;
}

/*@media (min-width: 768px){
.col-sm-9.input-popover{
width: 90% !important;
}
}*/

.panel-informacion>.panel-heading {
color: #fff;
background-color: #189BBB !important;
border-color: #bce8f1;
}
.panel-success>.panel-heading {
color: #FFFFFF;
background-color: #00a65a !important;
border-color: #d6e9c6;
}
.panel-warning>.panel-heading {
color: #FFFFFF;
background-color: #f39c12 !important;
border-color: #faebcc;
}
h3.panel-title{
    font-weight: bold;
}

.ct-form-control {
    min-width: 130px !important;
}
.add-btn {
   padding: 0px 12px !important;
}

.popover-title {
color: black;
}

.modal-body {
overflow-y: scroll;
height: 400px;
}
.modal.loading-img {
/*z-index: 1020;*/
background: transparent url('../img/ajax-loader1.gif') 50% 50% no-repeat;
}

.hasDatepicker {
cursor: pointer!important;
background: #FFF!important;
}

.select2-container {
  min-width: 100px !important;
}

.detail-view th {
  width: auto;
}

/*@media (min-width: 768px){
.sidebar-collapse .content-wrapper, .sidebar-collapse .right-side, .sidebar-collapse .main-footer {
  margin-left: 0;
}
}*/

.main-footer {
  background: #fff;
  padding: 15px;
  color: #444;
  border-top: 1px solid #eee;
}

/*.content-wrapper, .right-side, .main-footer {
  -webkit-transition: -webkit-transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
  -moz-transition: -moz-transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
  -o-transition: -o-transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
  transition: transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
  -webkit-transition: margin-left .3s cubic-bezier(.32, 1.25, .375, 1.15);
  -o-transition: margin-left .3s cubic-bezier(.32, 1.25, .375, 1.15);
  transition: margin-left .3s cubic-bezier(.32, 1.25, .375, 1.15);
  margin-left: 230px;
  z-index: 820;
}*/

 .main-footer {
  -webkit-transition: -webkit-transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
  -moz-transition: -moz-transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
  -o-transition: -o-transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
  transition: transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
  -webkit-transition: margin-left .3s cubic-bezier(.32, 1.25, .375, 1.15);
  -o-transition: margin-left .3s cubic-bezier(.32, 1.25, .375, 1.15);
  transition: margin-left .3s cubic-bezier(.32, 1.25, .375, 1.15);
  margin-left: 230px;
  z-index: 820;
}
