.scrollable{
    overflow: auto;
}
.actionMenuAdmin{
    display: inline-block;
    float: right;
}
h1.header-title{
    display: inline-block;
}
.user-panel{
    padding: 26px;
    
}
.select2-container{
    width: 100% !important;
}
.select2-drop{
    width: auto !important;
}
.date-popover > div > input{
    min-width: 95px !important;
    
}
div.popover.in{
    z-index: 1050 !important;
}
